body {
  background-color: rgb(51, 162, 206);
  color: #333;
  font-family: 'Cormorant', serif;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  border-radius: 10px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  
}

